body{
    background-color: #444444 !important;
}

.container {
    background-color: white;
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px
}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
}
table {
    width: 250px;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: lightblue;
}
td {
    border: 1px solid black;
    width: 100px;
}
iframe {

}
h2 {
    margin-top: 50px;
}
.container-cards{
    display: flex;
    gap: 15px;

}
#Banner-One{
    color: lightblue;
}

.nav-link:hover{
    color: lightblue !important;
}
.p{
    color: black;
}